name: Local CI

on: ["push", "pull_request"]
permissions:
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4

      - name: Install Java and Maven
        uses: s4u/setup-maven-action@v1.18.0
        with:
          java-version: 21
          java-distribution: temurin
          maven-version: 3.9.0

      - name: Run rule tests
        id: kantra-test
        run: |
          mkdir -p ~/.config/.kantra
          mv ./default/generated ~/.config/.kantra/rulesets
          cd ~/.config/.kantra
          ID=$(podman create --name kantra-download quay.io/konveyor/kantra:latest)
          podman cp ${ID}:/usr/local/etc/maven.default.index ~/.config/.kantra
          podman cp ${ID}:/usr/bin/fernflower.jar ~/.config/.kantra
          podman cp ${ID}:/jdtls ~/.config/.kantra
          podman cp ${ID}:/usr/local/bin/kantra .
          podman cp ${ID}:/usr/local/etc/maven.default.index .
          podman cp ${ID}:/usr/bin/fernflower.jar .
          podman cp ${ID}:/jdtls .
          mkdir static-report
          podman rm kantra-download
          RUN_LOCAL=1 ./kantra test ./rulesets --log-level 50 | tee output.log || true
          tail -n5 output.log > message.md
          msg=$(grep -E '.*Rules Summary:' message.md -A1)
          tests_pass_rate=$(grep -E '.*Rules Summary:' message.md | sed -E 's| *Rules Summary: *(.*)|\1|' | sed -E 's|.*?:||')
          tcs_pass_rate=$(grep -E '.*Test Cases Summary:' message.md | sed -E 's| *Test Cases Summary: *(.*)|\1|' | sed -E 's|.*?:||')
          some_test_failed=$(echo ${tests_pass_rate} | awk -F' ' '{print$1}' | awk -F'/' '{print ($1 == $2) ? 0 : 1}')
          some_tcs_failed=$(echo ${tcs_pass_rate} | awk -F' ' '{print$1}' | awk -F'/' '{print ($1 == $2) ? 0 : 1}')
          
          echo 'msg<<EOF' >> $GITHUB_OUTPUT
          echo ${msg} >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT

          echo 'tcs_pass_rate<<EOF' >> $GITHUB_OUTPUT
          echo ${tcs_pass_rate} >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT

          echo 'tests_pass_rate<<EOF' >> $GITHUB_OUTPUT
          echo ${tests_pass_rate} >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT

          if [[ ${some_test_failed} -eq 1 ]] || [[ ${some_tcs_failed} -eq 1 ]]; then
            exit 1
          else
            exit 0
          fi


      - name: Upload matching folders
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: rules-test-folders
          path: /tmp/rules-test-*
          compression-level: 9
