name: Trigger seed in tackle2-hub

on:
  push:
    branches:
      - main
      - 'release-*'

jobs:
  trigger-seed:
    runs-on: ubuntu-latest
    steps:
      - name: Dispatch event to create seed PR
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ steps.get_workflow_token.outputs.token }}
          repository: "konveyor/tackle2-seed"
          event-type: trigger-seed
          client-payload: '{ "branch": "${{ github.ref_name }}" }'
